#main .video-section section.hero-slideshow-wrapper {
    background: -moz-linear-gradient(to bottom, rgba(37, 64, 125, 1) 0%, rgba(27, 126, 193, 0.5) 100%);
    background: -webkit-linear-gradient(to bottom, rgba(37, 64, 125, 1) 0%, rgba(27, 126, 193, 0.5) 100%);
    background: linear-gradient(to bottom, rgba(37, 64, 125, 1) 0%, rgba(27, 126, 193, 0.5) 100%)
}

.hero-slideshow-wrapper:after {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: -moz-linear-gradient(to bottom, rgba(37, 64, 125, 1) 0%, rgba(27, 126, 193, 0.5) 100%);
    background: -webkit-linear-gradient(to bottom, rgba(37, 64, 125, 1) 0%, rgba(27, 126, 193, 0.5) 100%);
    background: linear-gradient(to bottom, rgba(37, 64, 125, 1) 0%, rgba(27, 126, 193, 0.5) 100%);
    display: block;
    content: ""
}

.body-desktop .parallax-hero .hero-slideshow-wrapper:after {
    display: none!important
}

#parallax-hero>.parallax-bg::before {
    background-color: transparent;
    opacity: 1
}

.body-desktop .parallax-hero .hero-slideshow-wrapper:after {
    display: none!important
}

a,
.screen-reader-text:hover,
.screen-reader-text:active,
.screen-reader-text:focus,
.header-social {
    color: #25407d
}

a,
.onepress-menu a:hover,
.onepress-menu ul li a:hover,
.onepress-menu li.onepress-current-item>a,
.onepress-menu ul li.current-menu-item>a,
.onepress-menu>li a.menu-actived,
.onepress-menu.onepress-menu-mobile li.onepress-current-item>a {
    color: #1b7ec1
}

,
.site-footer a,
.site-footer .footer-social a:hover,
.site-footer .btt a:hover,
.highlight,
#comments .comment .comment-wrapper .comment-meta .comment-time:hover,
#comments .comment .comment-wrapper .comment-meta .comment-reply-link:hover,
#comments .comment .comment-wrapper .comment-meta .comment-edit-link:hover,
.sidebar .widget a:hover,
.section-services .service-item .service-image i,
.counter_item .counter__number,
.team-member .member-thumb .member-profile a:hover,
.icon-background-default {
    color: #25407d
}

input[type="reset"],
input[type="submit"],
input[type="submit"],
.nav-links a:hover,
.card-theme-primary,
.woocommerce #respond input#submit,
.woocommerce a.button,
.woocommerce button.button,
.woocommerce input.button,
.woocommerce button.button.alt {
    background: #25407d
}

.pricing__item:hover,
.card-theme-primary,
.entry-content blockquote {
    border-color: #25407d
}

.site-header {
    background: #25407d;
    border-bottom: 0px none
}

.site-footer {
    background-color: #25407d
}

.site-footer .footer-connect .follow-heading {
    color: rgba(255, 255, 255, 0.9)
}

.site-footer .site-info,
.site-footer .btt a {
    background-color: #25407d
}

.site-footer .site-info {
    color: rgba(255, 255, 255, 0.7)
}

.site-footer .btt a,
.site-footer .site-info a {
    color: rgba(255, 255, 255, 0.9)
}

.gallery-carousel .g-item {
    padding: 0px 1px
}

.gallery-carousel {
    margin-left: -1px;
    margin-right: -1px
}

.gallery-grid .g-item,
.gallery-masonry .g-item .inner {
    padding: 1px
}

.gallery-grid,
.gallery-masonry {
    margin: -1px
}

img#wpstats {
    display: none
}
.recentcomments a {
    display: inline !important;
    padding: 0 !important;
    margin: 0 !important;
}

.invisivel {
    display: none;
}
.visivel {
    display: block;
}

.grafico {
    width: 900px; 
    height: 500px;
}